@import "~element-ui/lib/theme-chalk/index.css"

/* 去掉 */
table
    border-collapse collapse
    margin 0
    display: block
tr
    border-top none
    &:nth-child(2n)
        background none

th,td
    border none
    padding none
